<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymbro">

    <application
        android:name=".GymBroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymBro">
        <activity android:name=".AppExecutors"></activity>
        <activity android:name=".ExerciseDao" />
        <activity android:name=".AppDatabase" />
        <activity android:name=".SetUpWorkouts" />
        <activity android:name=".SetUpWorkoutsSchedule" />
        <activity android:name=".AddExerciseActivity" />
        <activity android:name=".WorkoutActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>